
   /* font-family: 'Lobster', cursive;*/
   /*font-family: 'Lobster', cursive;*/
   *{
    margin: 0;
    text-decoration: none;
}
.clear{
    clear: both;
}


.fondo::after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: auto;
 background: linear-gradient(to right top, #05193799, #004d7a99, #00879399, #00bf7299, #a8eb1299);
 
 z-index: -1;
}


.div1__header{
 text-align: center;
 /*font-family: 'Train One', cursive;*/
 font-family: 'Mukta', sans-serif;
 font-size: x-large;
 width: 100%;
 height: 100px;
 background-color: white;
 box-shadow: 2px 2px 30px 2px gray;
 position: fixed;
 min-width: 700px;
 z-index: 200;
 margin-top: -100px;
 }  
.div1__header::after{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 /*background: linear-gradient(to right top, #85abe299, #347faa99, #27b0bd99, #1de69599, #9eb96399);*/
 background: linear-gradient(to right top, #0762e299, #0677b899, #44b6c099, #14d68999, #a4eb0a99);
 z-index: 201;
} 
.div1__header:hover{
     background-image: url("recursos/hfon.jpg") ;
     color: white;
     box-shadow: 2px 2px 40px 15px yellow;
     
    
}
.div1__header-h1{
padding-top: 5px;
}

.div1__nav{
 margin-top: -100px;
   position: fixed;
   z-index: 300; 
}
.div1__nav_ul-li{
 /*background-color: aquamarine;*/
 display: block;
 margin-top: 62px;
 font-family: 'Lobster', cursive;
 text-align: center;
 padding-top: 0px;
 height: 30px;
 width: 100px;
 font-size: x-large;
 float: left;
 

}
.div1__nav_ul-li:hover{
 border-radius: 10px;
background-color: blueviolet ;
transition: .5s;
  
}

.div1__nav_ul_li-a{
text-decoration: none;
color: black;
}
.menu{
   display: none;
   position: absolute;
   list-style: none;
   min-width: 100px;
   

}
.menu_li{
 border-bottom: black;
 text-align: left;
 padding: 10px;
}
.menu_li a {
 color: #fff;
}
nav li:hover > .menu {
   display: block;
   transition: 1s;
   
}

.t {
 margin-left: 40px;

}
.t:hover{
  width: 300px;
  height: 250px;
  background-image: url("recursos/fmenu.jpg");
  color: #fff;
  transition: .5s;
}

.menu_li:hover{
 background-color: blue;
 width: 200px;
 border-radius: 10px;
 border-bottom: 2px #fff;
}
body{

 font-family: sans-serif;
}
.contenedorcuerpo{
 margin-top: 100px;
}
.div_s-h2{
 background-color: rgb(103, 23, 177,0.5);
 padding-left: 50px ;
 padding-top: 100px;
 font-size: 40px;
 color: chartreuse;
 font-family: 'Press Start 2P', cursive;
 text-align: center;

}
.conte{
 display: flex;
 flex-wrap: wrap;
 background-color: rgb(103, 23, 177,0.5);
} 
.otro{
 background-color: rgba(255, 255, 255, 0.5);
}
.imglove{
 display: inline-block;
 width: 600px;
 height: auto;
 padding: 50px;
 margin-bottom: 50px;
 
}
.imglove img {
 width: 100%;
 height: 100%;
 border: 20px solid rgb(103, 23, 177,0.5);
 box-shadow: 2px 2px 20px 40px rgba(18, 4, 31, 0.1);
 border-radius: 15px;
 object-fit: cover;
}
.parrafo {
  font-family: 'Changa', sans-serif;
 display: inline-block;
 width: 60%;
 min-width: 400px;
 margin: 50px;
 margin-right: 0px;
 font-size: 40px;
 text-shadow: 2px 2px 8px red;
 color: rgb(114, 218, 218);
 text-align: justify;

}
.seccion2p2{
  margin-left: auto;
  margin-right: auto;
}
h3{
  color: rgb(229, 255, 0);
}

footer{
  background-color: rgb(0, 0, 0, 0.5) ;
  width: 100%;
  max-height: 800px;
  display: flex;
  
}
.iconouni{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 30px;

/* margin-left: 300px;*/
 margin: auto;
 margin-right: 0;
 
}
.datos{
 text-align: center;
 margin-top: 20px;
 padding: 50px ;
 padding: auto;
 margin: auto;
 margin-left: 0;
 margin-right: 0;
}

.fotoperfil{
  width: 150px;
  height: autox;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  
}

.convboton{
 /*background-color: aquamarine;*/
 display: block;
 margin: auto;
 margin-top: 50px;
 font-family: 'Lobster', cursive;
 text-align: center;
 padding: 10px;
 padding-left: 0;
 height: auto;
 width: 300px;
 font-size: x-large;
 background-color: rgb(95, 182, 25) ;
 

}
.convboton li {
 text-decoration: none;
 list-style: none;
}
.convboton:hover{
 border-radius: 10px;
background-color: blueviolet ;
transition: 1s;
  width: 100%;
  height: auto;
  color: white;
}
.ocultar{
 display: none;
 
}
.convboton li:hover > .ocultar  {
 display: flex;
 transition: 1s;
 width: 100%;
 margin: 0;
}
.ocultar li {
display: inline-block;

flex-grow: 1;
width: 200px;
height: auto;

}
.seccion1img1 {
  margin-top: 150px;
  object-fit: contain;
  height: 300px;
}
.imglove_seccion2img1{
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  border: 1px solid fuchsia;
}
.seccion2img1{
  margin-top: 100px;
  height: 300px;
}

.seccion2conte{
  flex-grow: 1;
}
.seccion3br{
  color: rgb(1, 219, 30);
}
.seccion3conte{
  width: 100%;
  display: block;
}
.seccion3p1{
  margin-left: 20%;
}
.conte_seccion4{
  display: flex;
  background-color: rgb(103, 23, 177,0.5);

}
.pseccion4{
  font-family: 'Changa', sans-serif;
 display: inline-block;
 width: 90%;
 min-width: 400px;
 margin: auto;
 margin-right: auto;
 font-size: 40px;
 text-shadow: 2px 2px 8px red;
 color: rgb(114, 218, 218);
 text-align: justify;
}
.ulseccion4img img{
 margin-left: 10%;
width: 200px;
height: 150px;
border-radius: 10px;
}
.liseccion4img{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid rgb(28, 48, 224);
}
.pseccion5{
  color: rgb(0, 0, 0);
}
.seccion5conte{
  display: flex;
 flex-wrap: wrap;
 background-color: rgba(235, 204, 204, 0.5);
}
.imgseccion5{
  display: block;
}
.seccion5img2 img{
  margin-top: 200px;
  height: 350px;
}
.tituloseccion5{
  font-size: 70px;
  color: rgb(0, 212, 71);
}
.olseccion5 li{
  color: rgb(245, 200, 200);
}
.seccion5img3{
  margin-top: 10px;
  width: 490px;
    

}
.seccion5img3 img{
  border: 5px solid rgb(247, 204, 16);
}
.pseccion6{
  display: block;
  width: 90%;
  color: #fff;
}
.seccion6img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.seccion6img1 img{
  display: block;
  border: 3px dashed fuchsia;
  box-shadow: 2px 2px 20px 20px gold;

}
.p2seccion6 p{
  font-size: 60px;
  color: rgb(250, 0, 208);
  text-align: center;
}
.pseccion6 ul{
  font-size: 25px;
  color: rgb(81, 226, 207);
}
.p2seccion6 {
  width: 90%;
}

h4 {
  font-size: 40px;
  color: rgb(231, 255, 10);
}
.p2seccion6 li{
  font-size: 20px;
}
.seccion6img2{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  width: 800px;
  height: auto;
  
}
.seccion6img2 img{
  border: 5px dashed rgb(6, 16, 150);
}
.seccion6img3{
  min-width: 400px;
  height: auto;
 
}
.seccion6img3 img{
  margin-bottom: 200px;
  
}
.seccion6img4{
  height: 750px;
  margin-top: 200px;
}
.seccion6imagenes {
  margin-top: -300px;
  margin-right: auto;
  margin-left: auto;
}
.div_s-h22{
  background-color: rgba(154, 177, 23, 0.5);
 padding-left: 50px ;
 padding-top: 100px;
 font-size: 40px;
 color: chartreuse;
 font-family: 'Press Start 2P', cursive;
 text-align: center;
 padding-bottom: 60px;
}
.p1seccion7{
  padding-top: 200px;
  font-size: 30px;
}
.p2seccion7{
  width: 90%;

}
.p2seccion7 li{
  display: block;
  font-size: 20px;
  padding: 50px;
  
}
.seccion7img1 {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 300px;
  clear: both;
margin-top: -20px;
margin-bottom: -20px;
 
}
.seccion7img1 img{
  object-fit: contain;
  border: none;
  min-width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.p3seccion7{
  width: 90%;
  font-size: 25px;
}
.p4seccion7{
  width: 40%;
  margin-left: 10%;
}
.p1seccion8{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-size: 28px;
}
.seccion8img1{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.p1seccion9{
  width: 90%;
}
.seccion9img1{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.seccion9imgli1 img{
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  width: 30%;
  margin-bottom: 0%;
  min-width: 300px;
}
.seccion9img1 p {
  font-size: 15px;
  text-align: center;
  color: #fff;
}
